{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "IdP Test" %} - {{ idp }}</h1>
    <dl>
        <dt>{% trans "Name ID Format" %}</dt>
        <dd>{{ nameid_format }}</dd>

        <dt>{% trans "Name ID" %}</dt>
        <dd>{{ nameid }}</dd>
    </dl>
    <table>
        <thead>
        <tr>
            <th>{% trans "SAML Attribute" %}</th>
            <th>{% trans "Mapped Name" %}</th>
            <th>{% trans "NameID" %}</th>
            <th>{% trans "Value" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for attr, value in attrs %}
            <tr>
                <td>{{ attr.saml_attribute }}</td>
                <td>{{ attr.mapped_name }}</td>
                <td>{% if attr.is_nameid %}&#10004;{% endif %}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
